* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.banner {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(63, 62, 62, 0.062), rgba(0, 0, 0, 0.815)), url("../images/background.jpeg");
    background-size: cover;
    background-position: center;
}

.navbar {
    width: 100%;
    padding: 25px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
}

.navbar ul {
    display: flex;
    list-style: none;
}

.navbar ul li {
    margin: 0 25px;
    position: relative;
}

.navbar ul li a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}

.navbar ul li::after {
    content: '';
    height: 3px;
    width: 0;
    background: #f2f6f6;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.navbar ul li:hover::after {
    width: 100%;
}

.title {
    color: whitesmoke;
    text-shadow: 0 0 7px rgb(49, 39, 39);
    margin: 0 auto;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.menu {
    background: rgba(255, 255, 255, 0.2);
    padding: 17px;
    border-radius: 7px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
    width: 100%;
}

.content h1 {
    font-size: 50px;
    margin-top: 110px;
    color: #fff;
}

.content p {
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
    font-size: 17px;
    color: #fff;
}

button {
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #009688;
    background: transparent;
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

button span {
    background: #009688;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}

button:hover span {
    width: 100%;
}

button:hover {
    border: none;
    background-color: #009688;
}

.content {
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 20px;
    text-align: center;
}

/* footer */
.footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.social-links {
    margin-bottom: 10px;
}

.social-links a {
    color: #fff;
    font-size: 24px;
    margin: 0 10px;
    transition: transform 0.3s ease-in-out;
}

.social-links a:hover {
    transform: scale(1.2);
}

.footer p {
    font-size: 14px;
}

.li-footer {
    color: #f2f6f6;
    text-decoration: none;
}

/* upload */
.upload-div {
    color: #eee;
}

.form_div {
    padding: 50px;
    width: 90%;
    max-width: 500px;
    margin: 90px auto;
    box-shadow: 0 0 8px antiquewhite;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form input[type="file"] {
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 20px;
    background: rgba(255, 255, 255, 0.2);
}

.form input[type="submit"] {
    background-color: #009688;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form input[type="submit"]:hover {
    background-color: #01675d;
}

.fset {
    background: rgba(39, 36, 36, 0.131);
    padding: 10px;
}

legend {
    color: #fff;
}

h4 {
    color: #fff;
}

/* contact us */
.div-contact {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 77vh;
    margin: 0;
    background: #807b7b00;
    color: #eee;
}

.container-contact {
    background: rgba(94, 91, 91, 0);
    padding: 10px 30px;
    border-radius: 10px;
    box-shadow: 0 0 7px rgba(207, 199, 199, 0.888);
    text-align: center;
    width: 90%;
    max-width: 400px;
    margin: 0 auto;
    animation: fadeIn 1s ease-in-out;
    backdrop-filter: blur(5px);
}

.h1-contact {
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 15px;
    text-align: left;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
}

.input-group input,
.input-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.btn {
    background: #007BFF;
    color: white;
    border: none;
    padding: 10px 50px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

.btn:hover {
    background: #0056b3;
}

.success-message {
    display: none;
    color: green;
    margin-top: 20px;
    font-weight: 700;
    animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* about us */
.container-about {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main-about {
    padding: 10px 0;
}

.about-us {
    background-color: #272525fb;
    padding: 50px 0;
    text-align: center;
    color: #ddd;
}

.about-us .intro {
    margin-bottom: 40px;
}

.about-us .intro .h1-about {
    font-size: 55px;
    color: #ccc;
    animation: fadeIn 2s ease-in-out;
}

.about-us .intro p {
    font-size: 18px;
    margin: 20px 0;
    color: #bbb;
}

.about-us .team {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.team-member {
    perspective: 1200px;
    margin-bottom: 30px;
}

.flip-card {
    width: 240px;
    height: 350px;
    border-radius: 15px;
    overflow: hidden;
    background: linear-gradient(145deg, #333, #444);
    color: #ddd;
    position: relative;
    transition: box-shadow 0.5s ease, transform 0.5s ease;
    transform-style: preserve-3d;
}

.flip-card:hover {
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.8);
    transform: scale(1.05);
}

.flip-card-inner {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.8s ease;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 15px;
}

.flip-card-front {
    background: linear-gradient(145deg, #222, #333);
    color: #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.5s ease;
}

.flip-card-front img {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    object-fit: cover;
    transition: transform 0.4s ease, box-shadow 0.4s ease;
}

.flip-card-front img:hover {
    transform: scale(1.1);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.7);
}

.flip-card-back {
    background: linear-gradient(145deg, #111, #222);
    color: #fff;
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    animation: fadeIn 1s ease-in-out;
}

.flip-card-back .h3-about {
    margin: 0;
    font-size: 22px;
    font-weight: bold;
    color: orange;

}

.flip-card-back .name {
    margin: 10px 0;
    font-size: 18px;
    font-weight: normal;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

.flip-card-back .ul-about {
    list-style: none;
    padding: 0;
}

.flip-card-back .li-about {
    margin: 5px 0;
    color: #f5f3ef;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.flip-card-back p {
    margin: 0;
    font-size: 16px;
}

@keyframes slideInUp {
    from {
        transform: translateY(100px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

/* Responsive styles */
@media (max-width: 768px) {
    .navbar ul {
        flex-direction: column;
        align-items: center;
    }

    .navbar ul li {
        margin: 10px 0;
    }

    .content h1 {
        font-size: 36px;
    }

    .form_div,
    .container-contact {
        width: 90%;
        padding: 20px;
    }
}

@media (max-width: 480px) {
    .content h1 {
        font-size: 28px;
    }

    .navbar ul li a {
        font-size: 14px;
    }

    .navbar {
        flex-direction: column;
        align-items: center;
        padding: 10px 0;
    }

    .menu {
        padding: 10px;
    }

    button {
        width: 100%;
    }

    .form_div,
    .container-contact {
        width: 100%;
        padding: 10px;
    }
}

/* footer*/
.footer {
    background-color: #000;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.footer .container-footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.footer .quick-links,
.footer .social-links {
    flex: 1;
}

ul a {
    color: white;
    text-decoration: none;
}

ul a:hover {
    color: lightgray;
}

.footer .center-content {
    flex: 3;
    text-align: center;
}

.footer .youtube-note {
    flex-basis: 100%;
    text-align: center;
    margin-top: 20px;
}

.footer .youtube-note a {
    color: #fff;
    font-size: 24px;
    transition: transform 0.3s ease-in-out;
}

.footer .youtube-note a:hover {
    transform: scale(1.2);
}

.social-links {
    margin-bottom: 10px;
}

.social-links a {
    color: #fff;
    font-size: 24px;
    margin: 0 10px;
    transition: transform 0.3s ease-in-out;
}

.social-links a:hover {
    transform: scale(1.2);
}